---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, DEFAULT_IMAGE } from '../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import { resolve } from '../urls'

const posts = (await getCollection('articles')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
)
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full bg-zinc-900 text-slate-100">
    <Header />
    <main class="m-auto max-w-5xl px-6 py-6">
      <section>
        <ul>
          {
            posts.map((post) => (
              <li class="py-10">
                <a href={resolve('article/' + post.slug)}>
                  <div class="grid grid-cols-2 gap-10 rounded-lg p-8 shadow-lg shadow-zinc-800">
                    <div class="flex h-full flex-col justify-around">
                      <div class="flex w-full justify-between text-slate-400">
                        <p class="text-slate-400">{post.data.author}</p>
                        <FormattedDate date={post.data.pubDate} />
                      </div>
                      <h1 class="text-4xl font-extrabold text-white">
                        {post.data.title}
                      </h1>
                      <p>{post.data.description}</p>
                    </div>
                    <img
                      class="mx-auto my-0 block rounded-xl"
                      width={1020}
                      height={510}
                      src={resolve(post.data.heroImage ?? DEFAULT_IMAGE)}
                      alt="Article banner image"
                    />
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
